@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&family=Press+Start+2P&display=swap');


body{
    background-color: black;
    font-family: "Nunito";
    color: white    
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu_logo{
    font-family: "Josefin Sans";
    font-weight: bold;
    padding: 10px;
    background-color: #2abaad;
    border-radius: 10px;
    color: white;
    max-width: 100px;
    transition: 0.5s ease-in-out;

}

.menu_logo:hover{
    color: #2abaad;
    background-color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.menu_lista{
    display: flex;
    align-items: center;
    gap: 35px
}

.menu_lista_item{
    color: white;
    font-family: "Press Start 2P";
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-size: 25px;
}

.menu_lista_item:hover{
    color: #2abaad;
    transform: scale(1.2);
}

.menu_curriculo{
    background-color: #2abaad;
    color: white;
    font-family: "Press Start 2P";
    text-decoration: none;
    padding: 15px 20px;
    margin: 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.menu_curriculo:hover{
    background-color: white;
    color: #2abaad;
}

.home{
    height: 90vh;
    background-image: url("https://i.pinimg.com/originals/0a/b8/ce/0ab8ce6d94dc4bd5183e953ad6ef797d.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Press Start 2P";
}

.home_infos{
    background-color: rgba(0,0,0,0.6);
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 0px, 0px, 20px, 20px;
    gap:16px
}

.home_img{
    max-width: 300px;
    background-color: #2abaae9c;
    border: 2px solid white;
    border-radius: 50%;
}

.home_nome{
    font-size: 40px;
}

.home_area{
    font-size: 20px;
    color:#2abaad
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 60px auto;
    gap: 30px;
    min-height: 90vh;
    border-top: 15px solid #2abaad;
    border-bottom: 15px solid #2abaad;
}

.sobre_infos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px
}

.sobre_titulo{
    font-family: "Press Start 2P";
    font-size: 80px;
    position: relative;
}

.sobre_titulo::before{
    content: "";
    background-image: url("./pincel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -60px;
    left: -70px;
    transform: rotate(135deg);
    z-index: -1;
}

.sobre_paragrafo{
    font-size: 24px;
    line-height: 1.3;
}

.sobre_imagem{
    max-width: 1000px;
}

.cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 60px auto;
    gap:120px;
    min-height: 80vh;
    border-bottom: 15px solid #2abaad;
}

.cursos_titulo{
    font-size: 100px;
    font-family: "Press Start 2P";
    word-wrap: break-word;
    max-width: 300px;
}

.cursos_lista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.curso{
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 5px 5px 20px #2abaad
}

.curso_titulo{
    color: #2abaad;
    font-size: 24px;
    font-weight: bold;
}

.curso_subtitulo{
    font-size: 15px;
    font-weight: bold;
}

